#!/bin/bash

setxkbmap -layout us,ara;

setxkbmap -option 'grp:alt_shift_toggle'

greenclip daemon>/dev/null &

gromit-mpx &

xset r rate 250 50;

$HOME/.config/polybar/launch.sh > /dev/null;

brightnessctl set 25%;

picom -CGb;

feh --bg-scale ~/.config/wallpaper/aqsa.webp;
