/*
!alacritty
!i3
!nvim
!tmux
!rofi
!wallpaper
!.gitmodules
!.gitignore
!dotfiles
!openvpn
!greenclip.toml
!polybar
!gromit-mpx.ini
!fonts
!kitty
!picom.conf
!initialize.md
!picom.conf
!gromit-mpx.cfg
!hypr
