[submodule "nvim"]
	path = nvim
	url = https://github.com/bilazdev/neovim-config.git
	branch = master
[submodule "tmux"]
  path = tmux
  url = git@github.com:bilazdev/tmux-config.git
  branch = master
